Repository christophgietl/pisco: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock

poetry-check:
  entry: poetry check
  language: system
  name: poetry-check
  pass_filenames: false

poetry-lock:
  entry: poetry lock --no-update
  language: system
  name: poetry-lock
  pass_filenames: false

Delete leftover attribute "repository"
  pyproject.toml
Due: poetry-check, poetry-lock

Fix project.license
  pyproject.toml
Due: poetry-check, poetry-lock

Improve version specifications for depencies
  pyproject.toml
Due: poetry-check, poetry-lock

Update poetry.lock
  poetry.lock
Due: poetry-lock

Improve version specifications for depencies (#370)
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Update pyproject.toml
  pyproject.toml
Due: poetry-check, poetry-lock

Use comparison syntax for version specification for Pillow (#376)
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Update Poetry to 2.1.2
  .github/actions/set-up-python-environment/action.yml
Due: none

Update Poetry to 2.1.2 (#377)
  .github/actions/set-up-python-environment/action.yml
  poetry.lock
Due: poetry-lock

Update ruff to 0.11.7
  .pre-commit-config.yaml
Due: none

Update version constraint for Pillow
  pyproject.toml
Due: poetry-check, poetry-lock

Update version constraint for Pillow (#384)
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Downgrade to poetry 2.1.1 ...
  .github/actions/set-up-python-environment/action.yml
Due: none

Improve orthography
  .github/actions/set-up-python-environment/action.yml
Due: none

Fix header
  poetry.lock
Due: poetry-lock

Make poetry lock more verbose
  .pre-commit-config.yaml
Due: none

Show diff on failure
  .github/workflows/continuous-integration.yml
Due: none

Update Poetry to 2.1.3
  .github/actions/set-up-python-environment/action.yml
Due: none

Update requests
  poetry.lock
Due: poetry-lock

Upgrade ruff-pre-commit
  .pre-commit-config.yaml
Due: none

Fix poetry.lock
  poetry.lock
Due: poetry-lock

Upgrade direct dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Upgrade indirect dependencies
  poetry.lock
Due: poetry-lock

Upgrade poetry to 2.2.0
  .github/actions/set-up-python-environment/action.yml
Due: none

Update pre-commit repos
  .pre-commit-config.yaml
  stubs/soco/core.pyi
  stubs/soco/data_structures.pyi
  tests/pisco/input_output/test_http_image.py
Due: none

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject\.toml$
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
