Repository christophgietl/pisco: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      - id: poetry-check
        entry: poetry check
        files: ^(.*/)?pyproject\.toml$
        language: system
        name: poetry-check
        pass_filenames: false
      - id: poetry-lock
        entry: poetry lock --no-update
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
        language: system
        name: poetry-lock
        pass_filenames: false
      - id: mypy
        entry: poetry run mypy .
        language: system
        name: mypy
        pass_filenames: false
      - id: pytest
        entry: poetry run pytest --cov=src --cov-report term-missing
        language: system
        name: pytest
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.290
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix

Update copyright notice
  LICENSE
Due: none

Update ruff to v0.1.11
  .pre-commit-config.yaml
Due: none

Update ruff to v0.1.13
  .pre-commit-config.yaml
Due: none

Simplify Ansible configuration
  deployment/ansible.cfg
  deployment/pisco.playbook.ansible.yml
Due: none

Do not rotate display
  deployment/pisco.playbook.ansible.yml
Due: none

Update poetry.lock
  poetry.lock
Due: poetry-lock

Update poetry.lock again
  poetry.lock
Due: poetry-lock

Sort tasks
  deployment/pisco.playbook.ansible.yml
Due: none

Set versioning-strategy to increase
  .github/dependabot.yml
Due: none

Add directory /.github/actions/set-up-python-environment/
  .github/dependabot.yml
Due: none

Update abatilo/actions-poetry to v2.4.0
  .github/actions/set-up-python-environment/action.yml
Due: none

Narrow dependency specifications
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Update black and ruff
  .pre-commit-config.yaml
Due: none

Reformat code using black
  src/pisco/__init__.py
  src/pisco/application.py
  src/pisco/input_output/backlight.py
  src/pisco/input_output/http_image.py
  src/pisco/input_output/sonos_device.py
  src/pisco/user_interface/graphical_user_interface.py
  tests/pisco/input_output/test_http_image.py
Due: none

Autoupdate .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update poetry to 1.8.2
  .github/actions/set-up-python-environment/action.yml
Due: none

Remove types-pillow because Pillow 10.3.0 comes with type hints
  poetry.lock
  pyproject.toml
  src/pisco/input_output/http_image.py
  src/pisco/user_interface/graphical_user_interface.py
Due: poetry-check, poetry-lock

Simplify implementation of _update_album_art
  src/pisco/user_interface/graphical_user_interface.py
Due: none

Simplify logging configuration
  src/pisco/__init__.py
Due: none

Update section tool.ruff to get rid of deprecation warnings
  pyproject.toml
Due: poetry-check, poetry-lock

Get rid of dependency xdg
  poetry.lock
  pyproject.toml
  src/pisco/__init__.py
Due: poetry-check, poetry-lock

Turn variables into constants
  src/pisco/user_interface/command_line_interface.py
Due: none

Make Dependabot update indirect Python dependencies
  .github/dependabot.yml
Due: none

Indicate support for type checking
  src/pisco/py.typed
Due: none

Use walrus operator in implementation of _download_resource
  src/pisco/input_output/http_image.py
Due: none

Use walrus operator in implementation of _discover_controller
  src/pisco/input_output/sonos_device.py
Due: none

Enable mypy warnings
  pyproject.toml
Due: poetry-check, poetry-lock

Fix implementation of _discover_controller
  src/pisco/input_output/sonos_device.py
Due: none

Add stubs for soco
  .pre-commit-config.yaml
  pyproject.toml
  stubs/soco/__init__.pyi
  stubs/soco/core.pyi
  stubs/soco/data_structures.pyi
  stubs/soco/discovery.pyi
  stubs/soco/events.pyi
  stubs/soco/events_base.pyi
  stubs/soco/music_library.pyi
  stubs/soco/services.pyi
Due: poetry-check, poetry-lock

Pin version for macOS-* runners
  .github/workflows/continuous-integration.yml
Due: none

Pin macOS-* runner version to 12
  .github/workflows/continuous-integration.yml
Due: none

Update Faker to 25.0
  poetry.lock
  pyproject.toml
  tests/pisco/input_output/test_http_image.py
Due: poetry-check, poetry-lock

Fix files for package lxml
  poetry.lock
Due: poetry-lock

Use pytest fixture faker
  tests/pisco/input_output/test_http_image.py
Due: none

Reduce runtime imports
  tests/pisco/input_output/test_backlight.py
  tests/pisco/input_output/test_http_image.py
Due: none

Simplify pisco import
  tests/pisco/input_output/test_http_image.py
Due: none

Compactify implementation of fake_image_file
  tests/pisco/input_output/test_http_image.py
Due: none
