Repository christophgietl/pisco: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock

poetry-check:
  entry: poetry check
  language: system
  name: poetry-check
  pass_filenames: false

poetry-lock:
  entry: poetry lock --no-update
  language: system
  name: poetry-lock
  pass_filenames: false

Use PEP 735 syntax for dependency groups
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Use PEP 639 syntax for license
  pyproject.toml
Due: poetry-check, poetry-lock

Update Faker to 37.7.0
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock

Update lockfile
  poetry.lock
Due: poetry-lock

Update indirect dependencies
  poetry.lock
Due: poetry-lock

Update ruff-pre-commit
  .pre-commit-config.yaml
Due: none

Fix lockfile
  poetry.lock
Due: poetry-lock

Upgrade indirect dependencies
  poetry.lock
Due: poetry-lock

Update ruff
  .pre-commit-config.yaml
Due: none

Add upper bound for poetry-core version
  pyproject.toml
Due: poetry-check, poetry-lock

Use modern format syntax for JsonFormatter
  src/pisco/__init__.py
Due: none

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject\.toml$
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
