Repository christophgietl/pisco: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock

poetry-check:
  entry: poetry check
  language: system
  name: poetry-check
  pass_filenames: false

poetry-lock:
  entry: poetry lock --no-update
  language: system
  name: poetry-lock
  pass_filenames: false

Update copyright notice
  LICENSE
Due: none

Update ruff-pre-commit
  .pre-commit-config.yaml
Due: none

Improve logging
  src/pisco/__init__.py
Due: none

Use LoggerAdapter in backlight.py
  src/pisco/input_output/backlight.py
Due: none

Use LoggerAdapter in http_image.py
  src/pisco/input_output/http_image.py
Due: none

Use LoggerAdapter in sonos_device.py
  src/pisco/input_output/sonos_device.py
Due: none

Use LoggerAdapter in graphical_user_interface.py
  src/pisco/user_interface/graphical_user_interface.py
Due: none

Further simplify logging by using LoggerAdapter (#341)
  src/pisco/input_output/backlight.py
  src/pisco/input_output/http_image.py
  src/pisco/input_output/sonos_device.py
  src/pisco/user_interface/graphical_user_interface.py
Due: none

Make class SysfsBacklight more type safe
  src/pisco/input_output/backlight.py
Due: none

Make class SonosDevice more typesafe
  src/pisco/input_output/sonos_device.py
Due: none

Make classes PlaybackInformationLabel and TopLevelWidget more typesafe
  src/pisco/user_interface/graphical_user_interface.py
Due: none

Simplify class SonosDevice
  src/pisco/input_output/sonos_device.py
Due: none

Replace __dict__ by vars in sonos_device.py
  src/pisco/input_output/sonos_device.py
Due: none

Replace __dict__ by vars in graphical_user_interface.py
  src/pisco/user_interface/graphical_user_interface.py
Due: none

Enable mypy flag strict_bytes
  pyproject.toml
Due: poetry-check, poetry-lock

Update Poetry to 2.1.1
  .github/actions/set-up-python-environment/action.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update Poetry to 2.1.1 (#367)
  .github/actions/set-up-python-environment/action.yml
  .pre-commit-config.yaml
Due: none

Migrate to PEP621 syntax
  pyproject.toml
Due: poetry-check, poetry-lock

Delete leftover attribute "repository"
  pyproject.toml
Due: poetry-check, poetry-lock

Update poetry.lock
  poetry.lock
Due: poetry-lock

Use project.gui-scripts
  pyproject.toml
Due: poetry-check, poetry-lock

Include soco package
  pyproject.toml
Due: poetry-check, poetry-lock

Fix typo
  pyproject.toml
Due: poetry-check, poetry-lock

Update pyproject.toml
  pyproject.toml
Due: poetry-check, poetry-lock

Path conditions:
  poetry-check: any of: ^(.*/)?pyproject\.toml$
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
